
/* Mise en place des règles de style générales + taille police */
html{
  margin: 0;
  padding: 0;
  font-size: 67,5%;
}

/* Style du logo + texte association */
header{
  background: no-repeat url(./images/sunny-defocused-green-nature-background-abstract-bokeh-effect-es-element-your-design.jpg);
  background-size: cover;
  height: 3.5rem;
}

.logo>img{
  height: 1.5rem;
  ;
}
.logo-text{
  font-size: 1rem;
  line-height: 2rem;
  margin: 0;
  color: green;
}

/* style de la navbar */
nav{
  font-size: 0.80rem;
}

/* style de la section :presentation de l'association */

.presentation-title{
  font-size: 1rem;
}

.presentation-title-image{
  height: 1rem;
}

.etang-photo{
  max-width:400px;
}

.presentation-text{
  font-size: 0.75rem;
  text-align: justify;
}

.presentation-text::first-letter{
  color: green;
  font-weight: 500;
  font-size: 1.1rem;
  font-family: cursive;
}

/* style de la section contact */

.contact{
  font-size: 0.65rem;
}

/* style de l'espace "partenaires" */

aside{
  height: 135px;
  background-color: rgb(193, 241, 193);
  /* border: 1px solid green; */
}

aside>h2{
  font-size: 1rem;
}

.logo-partenaires>figure>img{
  max-width: 100px;
  height: 40px;
}

.logo-partenaires>figure>figcaption{
  font-size: 0.5rem;
  text-align: justify;
  margin-top: 2px;
}